---
import Title from '@/ui/Title.astro'
---

<section class="[&>p]:mb-4">
  <Title>About</Title>
  <p>
    Hey there! I'm <mark class="bg-underline-color1">Ryo</mark>, a developer
    with a big passion for <mark class="bg-underline-color2">technology</mark>,
    originally from Morocco. I've got a huge love for <mark class="bg-underline-color3">
    open source development</mark> and I'm aiming to make a living either freelancing or by building some cool
    <mark class="bg-underline-color4">open source projects</mark>.
  </p>
  <p>
    I've been into computers and coding since I was really young, and I've
    always enjoyed exploring the tech world. Nowadays, I'm all about diving into
    different projects and collaborating with others. I'm also really into <mark
      class="bg-underline-color5">sports</mark> - I love staying active and trying out new things. Oh, and I'm a bit of a <mark
      class="bg-underline-color6">music lover</mark> too, always creating tunes and jamming out on different instruments.
  </p>
  <p>
    While I don't have any big-name projects just yet, I'm always working on
    improving and contributing to <mark class="bg-underline-color7">
    open source stuff on GitHub</mark>. My goal is to make a real impact and maybe even inspire a few folks along
    the way.
  </p>
  <p>
    I'm building a suite of tools and utilities for my projects, available on my
    GitHub organization, <mark class="bg-underline-color1">iloveryuux-tools</mark>. My goal is to provide practical
    solutions for developers. Check out the tools and join the project if you're
    interested!
  </p>
</section>

